.mainPlus {
	--material-color-yellow: #f6cd61;
	--material-color-black: black;
	--material-color-blue-500: #2ab7ca;
	--material-color-black-200: rgba(0,0,0,.2);
  --material-color-red-400: #fe4a49;
  
  
}


.mainPlus {
  min-width: 415px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.suggestNumber {
  width: 100%;
  display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.container {
    /* padding: 0 2rem;*/
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    min-width: 415px;
    max-width: 800px;
    /* background-color:  var(--material-color-yellow) */
    /* background-color: #e6e6ea */
    ;
  }
.container >div {
  /* background-color: #e6e6ea; */
  /* background-color: black; */
  /* display: flex; */
  /* justify-content: center; */
  width: 15%;
  min-width: 60px;
  }
.container >div >span{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  }

  .pack {
    height: 275px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    flex-direction: column;
    background-color: var(--material-color-yellow);
    padding-bottom: 5px;
   
  }
  .container :last-child :first-child
   {

   border-top-left-radius: 12px;
   border-bottom-left-radius: 12px;
  }
  .container :first-child :first-child
   {
   border-top-right-radius: 12px;
   border-bottom-right-radius: 12px;
  }
  
  .pack[data-id="one"]
   {
    margin-bottom: 50px !important;
    margin-top: 50px !important;
  }
  

  .pipe {
         /* background-color: #f6cd61 ; */
         background-color: var(	--material-color-black);
         height: 100%;
         width: 2px;
         position: absolute;
         /* left: 45%; */
         top: 0;
         /* display: flex; */
         /* justify-content: center; */  
  }

  /* .pipe :first-child {
         background-color: var(	--material-color-black);
         margin-top: 75px;
         height: 5px;
         width: 100%;
         position: absolute;
         left: -31px;
  } */

  .nut {
    /* background-color:  #fe8a71; */
    background-color:   var(--material-color-blue-500) ;
    height: 35px;
    min-width: 45px;
    width: 90%;
    display: flex;
    border-radius: 15px;
    z-index: 1;
   margin-top: 2px;
   margin-left: 1px;
   margin-right: 1px;
   position: absolute;
   bottom: 0;
  }

  .counter {
    margin-top: 8px;
    background-color: var(--material-color-black-200)
  }
  .nut:active {
    background-color: var(--material-color-red-400)
  }



  .imageBackground {
    width: 100%;
    height: 100%;
    z-index: -1000;
    background-attachment: unset;
    filter: blur(9px)
  }